sudo: required
services: 
  - docker
language: ruby
rvm:
  - 2.2.3
#before_script:
#after_script:
after_success:
  - ls -alth
  - docker build -t matchbox/nci-treatment-arm-api .
  - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - docker push matchbox/nci-treatment-arm-api:latest
notifications:
  slack:
    secure: pGAQ+vsZJx/hnumGsPZf67J8nTFi3l4ERMV1KPmpaalNglezn5RGNQMUFTOjJVygW29j+EVxMAgYo+PUwgpCPj48nwDGlqDv1NMTR5/9Ek5Vt1o9ZDT1WcczNV6Fp3F1p0Rodwru0aF4mGUyyNIas7CYMb3b6GxcAQAp4WhzANJ8092oRVXWwnTjp/Lvk+aO2eM8z+5i8oc2QPw/dDtrh1TdqeWSzJeLTK9NXKGFMp5TxcENKSQ9PVhVYwsA44y/yYToEpNoGGiKKJ3Oi3ZwqAXUPQTUuXzcRvOp95SizYXsjkIj/MJ4q6v0lPxmQtVYHc4jFBPe4nyQEcfy/yA2X+juPYQJtvsFBIWxjHpfNltjfA7nvAMXx36uvwhIzB4c7hF3UYzTQIvVDB7iXSR+J9JsOqzImPYg5BCwu3w6hChIwI4IJbGFW57CtLOKpMFME2HfsAKJ0jlpQ2sDdDfpxLtNY7aKX/GkHWYyaiBu//L4Ss9m4BG9s22Bd0MqRLUgu/oU0+0AaiM3RfhaI9zcxt/KwuLs0zkJaf6yIrhAaWUP01pzFxFAcQeie8FxgJrCoYzgN3D4f7EiR+w1lM7nP52KjHzVyNSW3rqMdkQuLPNBNU62tt3LyisqE7zjP6ft+YhKoKGTkYDSvmN5nT78dB4+nf1ZV7A4xLWu1BCJ50c=
addons:
  code_climate:
    repo_token:
      secure: AJiylWENrMAYnmmDygmnCOJEMvEwur5CXcMDlLY1l9+Oez9tj15ZWRU50GDHx/5eT52vVJVefX35K4sSnGcvUrr04A72TKvbXCqGMxzyLsrS08tyoYT7muiit7Cbz0CH8q1a4DLdhymXZhnH3lx4vONHa75CGv/wdG/+6VUDilZ6WL58q/8bRCnciUhQL5vLAfCigrFbFaKBVQ9hJcIdJ1TylHltZnLVgAcLFLeBZgKupYM76asp6c2uX4YPjeQYXZ3iCekDR+lDHyC76wGIKYxH87h46tpM5agy898ldMSVRxrBuuPmCrFWFxB8mSOPaxOZkEjUx1O9FPHtGWKSffkBZzkKoxVKiNSJz3gLyUUXT8zp4GK/AUwJPS1/hQmkOVa0x9ZnbxkdKNNulzzFlhWaRgBSyBkK0oJeaoV6qL1pSnLqmmtzdJqkdBuAAsLYIBbAWTrjJMpoGm+qE71ggI9xgKC1y2/+z39HF+FhnL3Ewptxs2MMrVsqDbpvejbSsR4qbQMj4FU+LC0A61xPAJswhyV5U5FGy9R+AnUg8oUsv0LOhxVVww4vZWMr0MPpXUwlfv27boLF95cBnj8tO2v0qTWvwzGCfhzpeEZBGjzjxEzrXKBHsxkM8HM1Nn/g1HLN/1Y/Y25SjN3cbWfYlhXA41xPZEx7fYMp46CWakU=
